
table {
    border-radius: 15px;
    margin: 50px;
    padding: 10px;
}

th {
    margin: 
    border: 10px;
}

body {
    background-color: gray;
}

/* creating the box shadow effect for the heading, source:
https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
h1 {
    text-align: center;
    box-shadow: 10px 5px 5px black;  
    background: gray;

}

div2 {
    width: 200px;
    margin-right: 570px;
    background-color: beige;
}

#correct-letters {
    position: fixed;
    bottom: 0;
    left: 0;
}

#play-button {
    background-color: blue;
    color: wheat;
}

#instructions {
    background-color: red;
    color: wheat;
}

.alphabet {
    text-align: center;
    margin: 70px;
    display: flex;
    justify-content: center;
    height: 35px;
}

.correct-letter {
    color: green;
}

.incorrect-letter {
    color: red;
}

#starship {
    display: flex;
    flex-direction: column;
}

#starship img {
    width: 100px;
}

#container {
    display:flex;
}

#word {
    font-size: 100px;
}